<mat-card
  class="rounded-2xl shadow-md p-4 md:p-6 flex flex-col items-center text-center w-full max-w-full"
  *ngIf="land">

  <!-- Imagen -->
  <img [src]="previewImage || 'assets/logo-white.png'" [alt]="'LANDS.IMAGE_ALT' | translate"
    class="w-24 h-24 rounded-full shadow-lg mb-4 object-cover" />

  <!-- Nombre -->
  <h2 class="text-xl md:text-2xl font-semibold">
    {{ land.name }}
  </h2>

  <!-- Localización -->
  <p class="text-gray-500 italic">
    {{ land.location || ('LANDS.NO_LOCATION' | translate) }}
  </p>

  <div id="map" class="map-container mb-6"></div>

  <!-- Datos del terreno -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-6 text-left w-full max-w-md">
    <div>
      <p class="font-semibold text-gray-700">{{ 'LANDS.AREA_LABEL' | translate }}</p>
      <p>{{ land.area }} m²</p>
    </div>

    <div>
      <p class="font-semibold text-gray-700">{{ 'LANDS.MAX_TREES_LABEL' | translate }}</p>
      <p>{{ land.maxTrees || ('LANDS.NO_MAX_TREES' | translate) }}</p>
    </div>
  </div>

  <!-- Botón de editar (solo admin) -->
  <div class="flex gap-4 mt-4 w-full justify-center md:justify-start"
    *ngIf="user?.role === 'COMPANY_ADMIN' || isEditable">
    <button (click)="goToEditForm()"
      class="flex-1 md:flex-auto bg-green-600 text-white py-3 px-6 rounded-xl hover:bg-green-700 transition">
      {{ 'COMPANY.EDIT_BUTTON' | translate }}
    </button>
  </div>

  <!-- Descripción -->
  <div class="mt-6 w-full text-left prose prose-sm max-w-none" *ngIf="land.description"
    [innerHTML]="land.description">
  </div>

  <!-- Coordenadas -->
  <ng-container *ngIf="coordinates?.length && isEditable">
    <div *ngIf="user?.role === 'COMPANY_ADMIN' || isEditable" class="mt-6 w-full text-left">
      <p class="font-semibold text-gray-700 mb-2">{{ 'LANDS.COORDINATES' | translate }}</p>

      <!-- GRID RESPONSIVE -->
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
        <li *ngFor="let coord of coordinates"
          class="border p-3 rounded-lg shadow-sm bg-white text-sm">

          <p>
            <span class="font-semibold">Lat:</span>
            {{ coord.latitude | number:'1.6-6' }}
          </p>
          <p>
            <span class="font-semibold">Lng:</span>
            {{ coord.longitude | number:'1.6-6' }}
          </p>

        </li>
      </ul>
    </div>
  </ng-container>









  <!-- Plantaciones planificadas -->
  <!-- Plantaciones planificadas -->
  <div class="mt-6 w-full">
    <app-planned-plantations-list [plantations]="plannedPlantations" [editable]="false">
    </app-planned-plantations-list>
  </div>





</mat-card>