<div class="max-w-sm mx-auto" *ngIf="user">
  <mat-card class="rounded-2xl shadow-md p-4">
    <div class="flex flex-col items-center text-center">
      <img [src]="user.picture || 'assets/logo-white.png'" alt="Avatar"
        class="w-24 h-24 rounded-full shadow-lg mb-4" />

      <h2 class="text-xl font-semibold">
        {{ user.name }} {{ user.surname }} {{ user.secondSurname }}
      </h2>
      <p class="text-gray-500">{{ user.email }}</p>
      <p class="text-gray-500 font-medium mt-1"
        *ngIf="user.role === 'COMPANY_ADMIN' || user.role === 'COMPANY_USER'">
        Empresa: {{ user.company?.name }}
      </p>

      <div class="flex gap-2 mt-4">
        <button mat-raised-button color="primary" (click)="goToEdit()">
          Editar
        </button>
      </div>
    </div>
  </mat-card>
</div>