<div class="w-full max-w-full mx-auto" *ngIf="user">
  <mat-card class="rounded-2xl shadow-md p-6 md:p-8">
    <div class="flex flex-col items-center text-center">
      <img [src]="user.picture || 'assets/logo-white.png'" [alt]="'PROFILE.AVATAR_ALT' | translate"
        class="w-24 h-24 rounded-full shadow-lg mb-4 object-cover" />

      <h2 class="text-xl md:text-2xl font-semibold">
        {{ user.name }} {{ user.surname }} {{ user.secondSurname }}
      </h2>
      <p class="text-gray-500">{{ user.email }}</p>

      <p class="text-gray-500 font-medium mt-1"
        *ngIf="user.role === 'COMPANY_ADMIN' || user.role === 'COMPANY_USER'">
        {{ 'PROFILE.COMPANY_LABEL' | translate }}: {{ user.company?.name }}
      </p>

      <span *ngIf="user.receiveEmails"
        class="bg-green-500 text-white text-xs font-semibold px-4 py-1 rounded-full shadow-md">
        {{ 'PROFILE.RECIBE_MAIL' | translate }}
      </span>

      <span *ngIf="!user.receiveEmails"
        class="bg-red-500 text-white text-xs font-semibold px-4 py-1 rounded-full shadow-md">
        {{ 'PROFILE.NO_RECIBE_MAIL' | translate }}
      </span>

      <mat-card *ngIf="isAdmin" class="mt-4">
        <mat-card-content class="text-sm text-gray-700 space-y-2">

          <div class="flex">
            <span class="w-40 font-semibold">
              {{ 'PROFILE.LAST_LOGIN' | translate }}:
            </span>
            <span>
              {{ user.lastLoginAt | localizedDate:"d '-' MMMM '-' y ': ' H:mm" }}
            </span>
          </div>

          <div class="flex">
            <span class="w-40 font-semibold">
              {{ 'PROFILE.LOGIN_COUNT' | translate }}:
            </span>
            <span>
              {{ user.loginCount }}
            </span>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="flex gap-4 mt-4 w-full justify-center md:justify-start">
        <!-- Botón Editar con estilo unificado -->
        <button (click)="goToEdit()"
          class="flex-1 md:flex-auto bg-green-600 text-white py-3 px-6 rounded-xl hover:bg-green-700 transition">
          {{ 'PROFILE.EDIT_BUTTON' | translate }}
        </button>
      </div>
    </div>


    <!-- Árboles plantados -->
    <div class="mt-4 w-full text-left">
      <div class="flex justify-between items-center mb-2">
        <p class="font-semibold text-gray-700">{{ 'LANDS.PLANTED_TREES_BY_USER' | translate }}</p>
      </div>

      <ul *ngIf="plantedTrees?.length; else noPlantedTrees">
        <li *ngFor="let tree of plantedTrees" class="flex justify-between border-b py-1">
          <span>{{ tree.treeTypeName }}</span>
          <span class="font-semibold">{{ tree.quantity }}</span>
        </li>
      </ul>
      <ng-template #noPlantedTrees>
        <p class="text-gray-500 italic">{{ 'LANDS.NO_PLANTED_TREES_BY_USER' | translate }}</p>
      </ng-template>
    </div>



  </mat-card>


</div>