.minimal-outline .mat-mdc-form-field-infix {
  background-color: transparent !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.minimal-outline .mat-mdc-form-field-outline,
.minimal-outline .mat-mdc-form-field-outline-start,
.minimal-outline .mat-mdc-form-field-outline-end {
  border-color: #cbd5e1 !important;
  border-width: 1px !important;
}