aside {
  background-color: white;
  height: 100vh; // importante: ocupar toda la altura
  display: flex;
  flex-direction: column; // para que los links queden verticales
}

nav {
  flex: 1; // para que ocupe el espacio disponible
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

nav a {
  transition: background-color 0.2s;
}

nav a:hover {
  background-color: #e5e7eb; /* Tailwind gray-200 */
}
