<app-loading-spinner *ngIf="loadingService.loading$ | async"></app-loading-spinner>

<div *ngIf="!(loadingService.loading$ | async)"
  class="p-6 w-full max-w-md bg-white rounded-2xl shadow-lg">
  <h2 class="text-2xl font-bold text-green-700 mb-6 text-center">
    {{ 'UNASSIGN_TREES.TITLE' | translate }}
  </h2>

  <ul *ngIf="trees?.length; else noTrees">
    <li *ngFor="let tree of trees" class="flex justify-between items-center border-b py-2">
      <div>
        <span class="text-sm text-gray-500">Terreno: {{ tree.landName }}</span> <br>
        <span class="font-semibold">{{ tree.treeTypeName }}</span>

      </div>

      <!-- CONTENEDOR DE BOTONES -->
      <div class="flex gap-2">
        <button (click)="editTree(tree.id!)"
          class="bg-green-600 hover:bg-green-700 text-white rounded-full p-2 flex items-center justify-center">
          <mat-icon style="font-size: 20px;">edit</mat-icon>
        </button>

        <button (click)="unassignTree(tree.id!)"
          class="bg-red-600 hover:bg-red-700 text-white rounded-full p-2 flex items-center justify-center">
          <mat-icon style="font-size: 20px;">delete</mat-icon>
        </button>
      </div>
    </li>
  </ul>

  <ng-template #noTrees>
    <p class="text-gray-500 italic">{{ 'ASSIGN_TREES.NO_TREES_TO_MANAGE' | translate }}</p>
  </ng-template>

  <div class="flex justify-end mt-6">
    <button type="button"
      class="px-4 py-2 rounded-lg bg-gray-200 text-gray-700 hover:bg-gray-300 transition"
      (click)="close()">
      {{ 'COMMON.CLOSE' | translate }}
    </button>
  </div>
</div>